@import "tailwindcss";

.active hr {
    @apply block
}

@theme {
    --color-primary: #5f6FFF;
}

.my-grid-template-cols {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

::-webkit-scrollbar {
    @apply hidden
}